body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
}

.page-header {
  margin-top: 10px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

img, textarea {
  max-width: 99%;
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 2px;
}

.close-preview {
  color: #333;
}
.close-preview:hover {
  color: #222;
}

.navbar-brand {
  margin: 0;
  padding: 10px;
}

a {
  color: #5dbef4;
}

a:hover, a:focus {
  color: #2eabf0;
}

.navbar-inverse {
  background-color: #293335;
  border-top: 4px solid #8dd1f7;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8dd1f7;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #8dd1f7;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #8dd1f7;
}

.thumbnail img {
  border-top: 4px solid #8dd1f7;
}

.panel-default > .panel-heading {
  background-color: #293335;
  color: #fff;
}

a.list-group-item .list-group-item-heading {
  color: #5dbef4;
}
