body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.container-fluid {
    max-width: 1170px;
    margin: 0 auto;
}

.page-header {
    margin-top: 10px;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

img, textarea {
    max-width: 99%;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left:2px;
}

.close-preview {
    color: #333;

    &:hover {
        color: #222;
    }
}

.navbar-brand {
    margin: 0;
    padding: 10px;
}

$benefund-black: #0f0f0f;
$benefund-black: #293335;
$benefund-dark-blue: #8dd1f7;
$benefund-light-blue: #92d8f7;
$benefund-link: darken($benefund-dark-blue, 10%);

a {
    color: $benefund-link;
}

a:hover, a:focus {
    color: darken($benefund-link, 10%);
}

.navbar-inverse {
    background-color: $benefund-black;
    border-top: 4px solid $benefund-dark-blue
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $benefund-dark-blue;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: $benefund-dark-blue;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: $benefund-dark-blue;
}

.thumbnail img {
    border-top: 4px solid $benefund-dark-blue;
}

.panel-default > .panel-heading {
    background-color: $benefund-black;
    color: #fff;
}

a.list-group-item .list-group-item-heading {
    color: $benefund-link;
}

