body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.container-fluid {
    max-width: 1170px;
    margin: 0 auto;
}

.page-header {
    margin-top: 10px;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}